body {
  font-family: "DM Mono", monospace;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
}

h3 {
}

a {
  color: #dad128;
  text-decoration: none;
  margin-top: 0;
}

a:hover {
  border-bottom: 2px solid #dad128;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  /* transform: rotate(-90deg); */
  justify-content: flex-start;
  align-items: flex-start;
}
